body{
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color:$text-color;
}

.heading-primary{
  text-align: center;
  color:$color-white;
  &__title{

    font-size: 4rem;
    padding: 1rem 0;
  }
  &__sub{
    margin: 0 auto;
    font-size: $font-size-default;
    width: 50%;
    @include respond(sm-phone){
      width: 100%;
    }
  }
}

.heading-secondary{
  text-align: center;

  &__title{
    color: $color-gray-dark-1;
    font-weight: 700;
    font-size: $font-size-heading-secondary;
    padding: 1rem 0;
  }
  &__sub{
    margin: 0 auto;
    font-size: $font-size-default;
    width: 50%;
  }

}

.heading-tertiary{
  font-size: $font-size-heading-tertiary;
  color: $color-gray-dark-1;
  padding: 1rem;
}

.paragraph{
  font-size: $font-size-default;
}
